@import url(https://fonts.googleapis.com/css?family=Open+Sans:400italic,400,300,600);


body {
    font-family:"Open Sans", Helvetica, Arial, sans-serif;
    font-weight:400;
    font-size: 20px;
    line-height:30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card {
    display: flex;
    flex-direction: row;
    border-radius: 30px;
    padding: 10px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
    width: 100vw;
    /* font-size: 20vw; */
}

.left-containers {
    display: flex;
    margin-left: 5%;
    flex-direction: column;
    align-items: center;
    width: 50vw;
}

.left-container_1,
.left-container_2 {
    margin-bottom: 1vh;
    margin-top: 8vh;
    margin-left: 2vh;
    width: 100%;
    background: #434343;
    border-radius: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center;
}

.left-container_1 {
    height: 35vh;
    display: flex;
    flex-direction: row; /* Zmiana kierunku na poziomy */
    align-items: center;
    justify-content: space-between; /* Dodałem spację między elementami */

}

.left-container_1 img {
    max-width: 100%;
    max-height: 100%;
    height: auto;
    display: block;
    border: 10px solid #000;
    border-radius: 8px;
    box-sizing: border-box;
    margin-right: 20px; /* Dostosuj margines zgodnie z preferencjami */
}

.avatar-username {
    margin-bottom: 14vh;
}

.button2 {
    margin-top: 10vh; /* Add margin to the top of the button */
    margin-left: 10px; /* Zmieniłem margin-left na 10px (możesz dostosować) */
    background-color: #50c879;
    color: #363636;
    padding: 1.5vh 4vh;
    font-size: 2vh;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.button2:hover {
    background-color: #4BA36FFF;
}

.left-container_2 {
    height: 27vh;
}
.right-container {
    margin: 8vh 6vw 0vh 3vw;
    width: 55vw;
    background: #434343;
    border-radius:30px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    overflow: hidden; /* zapobiega wyświetlaniu zawartości, która wychodzi poza kontener */
    align-items: center;
}

/* Additional styling for visibility */
.left-container_1,
.left-container_2,
.right-container {
    border: 1px solid #ccc; /* Add a border for visibility */
    padding: 10px; /* Add padding for spacing */
}

table {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 28vh;
    border-collapse: collapse;
    word-wrap: break-word;
    overflow-wrap: break-word; /* Zawijanie tekstu przy przepełnieniu */
    margin: 0 auto;
}

table td {
    padding-top: 20px;
    border: none;
    border-radius: 20px;
    color: white;
    font-size: 2.3vh;
    overflow-wrap: break-word; /* Zawijanie tekstu przy przepełnieniu */
    word-wrap: break-word; /* Dodatkowe zabezpieczenie dla niektórych przeglądarek */
    max-width: 80vh; /* maksymalna szerokość komórki, aby uniknąć zbyt dużego rozciągania */
}

td:first-child {
    font-weight: bold;
    overflow-wrap: break-word; /* Zawijanie tekstu przy przepełnieniu */
    word-wrap: break-word; /* Dodatkowe zabezpieczenie dla niektórych przeglądarek */
}
.credit a {
    text-decoration: none;
    color: #fff;
    font-weight: 800;
}

.credit {
    color: #fff;
    text-align: center;
    margin-top: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h2 {
    font-size: 24px;
}

h3 {
    text-align: center;
    font-size: 24px;
}

.gradienttext {
    background-image: linear-gradient(to right, #ee00ff 0%, #fbff00 100%);
    color: transparent;
    -webkit-background-clip: text;
    font-size: 40px;
}

p {
    font-size: 30px;
    color: aliceblue;
}

.description_container {
    position: absolute;
    top: 8vh; /* Adjust the top position based on your layout */
    bottom: 35vh; /* Adjust the top position based on your layout */
    left: 6vh; /* Adjust the left position based on your layout */
    right: 6vh; /* Adjust the right position based on your layout */
    width: calc(60% - 2vw); /* Adjust the width based on your layout */
    margin: 0 auto;
}


#contact input[type="text"],
#contact input[type="text"],
#contact input[type="number"],
#contact input[type="email"],
#contact input[type="tel"],
#contact input[type="text"],
#contact textarea,
#contact button[type="submit"] {
    font: 400 12px/16px "Open Sans", Helvetica, Arial, sans-serif;
    font-size: 18px;
}

#contact {
    background: #434343;
    border: 1px solid #ccc; /* Add a border for visibility */
    padding: 25px;
    margin: 50px 0;
}

#contact h3 {
    color: #F96;
    display: block;
    font-size: 30px;
    font-weight: 400;
}

#contact h4 {
    background-image: linear-gradient(to right, #ee00ff 0%, #fbff00 100%);
    color: transparent;
    -webkit-background-clip: text;
    margin: 5px 0 15px;
    display: block;
    font-size: 30px;
}

fieldset {
    border: medium none !important;
    margin: 0 0 10px;
    min-width: 100%;
    padding: 0;
    width: 100%;
}

#contact input[type="text"],
#contact input[type="text"],
#contact input[type="number"],
#contact input[type="email"],
#contact input[type="tel"],
#contact input[type="text"],
#contact textarea {
    width: 100%;
    margin: 0 0 5px;
    padding: 10px;
}

#contact input[type="text"]:hover,
#contact input[type="text"]:hover,
#contact input[type="number"]:hover,
#contact input[type="email"]:hover,
#contact input[type="tel"]:hover,
#contact input[type="text"]:hover,
#contact textarea:hover {

    border: 1px solid #AAA;
}

#contact textarea {
    height: 100px;
    max-width: 100%;
    resize: none;

}

#contact button[type="submit"] {
    cursor: pointer;
    width: 100%;
    border: none;
    background: #50c879;
    color: #FFF;
    margin: 0 0 5px;
    padding: 10px;
    font-size: 15px;
}

#contact button[type="submit"]:hover {
    background: #3c935c;

}

#contact button[type="submit"]:active {
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.5);
}

#contact input:focus,
#contact textarea:focus {
    outline: 0;
    border: 2px solid #50c879;
}

.btn-primary {
    background-color: #50c879;
    margin-top: 10vh;
    margin-left: 23vw;
    color: #363636;
    padding: 2vh 6vh;
    font-size: 2.5vh;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column;

    align-items: center;

}

.btn-primary:hover {
    background-color: #4BA36FFF;
}


.avatar-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.avatar-row {
    display: flex;
}

.avatar-button {
    margin: 10px;
}

.avatar-button img {
    width: 6vw;
    height: auto;
}

.description_container_2 {
        position: absolute;
        top: 10vh; /* Adjust the top position based on your layout */
        bottom: 35vh; /* Adjust the top position based on your layout */
        left: 6vh; /* Adjust the left position based on your layout */
        right: 6vh; /* Adjust the right position based on your layout */
        width: calc(60% - 10vw); /* Adjust the width based on your layout */
        margin: 4vh auto;
}
#contact_avatar {
    background: #313131;
    padding: 10px;
    margin:  0;
    border: 2px solid white;
}

.downloaded-games,
.all-games-in-library {
    text-align: center;
    padding: 10px;
    margin: 10px 0;
    font-size: 4vh;
}

.left-container_2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 4vh;
    border: 1px solid #ccc; /* Dodatkowy border dla celów wizualizacji */
}

.avatar-username {
    text-align: center;
    padding: 10px;
    margin: 10px 0;
    font-size: 4vh;
}

.avatar-username-container {
    display: flex;
    flex-direction: column;
    margin-right: 2vh;
    margin-bottom: 2vh;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Jeśli chcesz, aby kontener był pełnej wysokości */
}

.table_container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media only screen  and (max-width: 1130px) {
    .left-containers {
        width: 80vw;
    }

    .left-container_1 {
        width: 80vw;
        /* height: 60vh; */
    }

    .left-container_2 {
        width: 80vw;
    }

    .right-container {
        width: 80vw;
        margin-left: 5vw;
    }
    
    .card {
        flex-direction: column;
        width: 90vw;
    }
}

@media only screen  and (max-width: 990px) {
    .avatar-row {
        flex-direction: column;
    }

    .avatar-container {
        flex-direction: row;
        flex-wrap: nowrap;
    }

    .avatar-button img {
        height: 80px;
        width: 80px;
    }
}

@media only screen  and (max-width: 600px) {
    .left-container_1 img {
        width: 25vw;
        height: auto;
    }

    .left-container_1 {
        max-height: 200px;
    }
}