body {
    font-family: Arial, sans-serif;
    background: #180835;
    display: flex;
    flex-direction: column;
    align-items: center;

}


.card {
    display: flex;
    flex-direction: row;
    border-radius: 30px;
    padding: 10px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
}

.left-containers {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.left-container_1,
.left-container_2 {
    margin-bottom: 3vh;
    margin-top: 6vh;
    margin-left: 6vh;
    width: 60vh;
    background: #000000;
    background: -webkit-linear-gradient(to right, #434343, #000000);
    background: linear-gradient(to right, #434343, #000000);
    border-radius: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.left-container_1 {
    height: 35vh;
}
.left-container_2 {
    height: 25vh;
}
.right-container {
    margin: 6vh 6vh 3vh 10vh;
    width: 120vh;
    background: #000000;
    background: -webkit-linear-gradient(to left, #434343, #000000);
    background: linear-gradient(to left, #434343, #000000);
    border-radius:30px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/* Additional styling for visibility */

.left-container_1,
.left-container_2,
.right-container {
    border: 1px solid #ccc; /* Add a border for visibility */
    padding: 10px; /* Add padding for spacing */
}

table {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 280px;
    border-collapse: collapse;
}

td {

    padding: 10px;
    border: none;
    border-radius: 20px;
    color: white;
}

td:first-child {
    font-weight: bold;
}
.credit a {
    text-decoration: none;
    color: #fff;
    font-weight: 800;
}

.credit {
    color: #fff;
    text-align: center;
    margin-top: 10px;
    font-family: Verdana,Geneva,Tahoma,sans-serif;
}

@media only screen and (max-width: 860px) {
    .card
    {
        flex-direction: column;
        margin: 10px;
        height: auto;
        width: 90%;
    }
    .left-container{
        flex: 1;
        max-width:100%;
    }
}
@media only screen and (max-width: 600px) {
    .card
    {
        flex-direction: column;
        margin: 10px;
    }
    .left-container{
        flex: 1;
        max-width:100%;
    }
}
h2 {
    font-size: 24px;

}
h3 {
    text-align: center;
    font-size: 24px;

}
.gradienttext{
    background-image: linear-gradient(to right, #ee00ff 0%, #fbff00 100%);
    color: transparent;
    -webkit-background-clip: text;
}
p {
    font-size: 18px;
    color:aliceblue
}
